
/* change specified elements to block-level */
input, button {

  display: block;
}

/* target the web-app */
#app-body {

  text-align: center;

  height: 200px;
  width: 450px;
  margin: 50px auto;

  border: 3px solid black;
  border-radius: 15px;
}

/* center content + spacing */
input {

  margin: 25px auto 10px;
}

button {

  margin: 0 auto;
}

div#header {

  border-bottom: 3px solid black;
}

p {
  text-align: center;
}
